DATABASE_URL="file:./dev.db"
JWT_SECRET="your_jwt_secret_key_here"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="your_admin_password_here"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SUPABASE_URL="https://kkxtbntubfbrbaqhqrln.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_OVZtNtMe-CTENDyat_46oQ_gHe0XL4c"
